/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   %% Portfolio-sivun tyylit (CSS) %%
   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* ###########
   # Nollaus #
   ########### */

*
	{
		border: 0;
		margin: 0;
		padding: 0;
	}


	/* Oletuskieli fi */

[lang="en"]:not(:root):not(.cv) {display: none;}



/* ##########
   # Fontit #
   ########## */

@font-face
	{
		font-family:	"Feira da Fruta";
		src:			url("fonts/Feira_da_Fruta.eot");
		src:			url("fonts/Feira_da_Fruta.otf");
		src:			url("fonts/Feira_da_Fruta.svg");
		src:			url("fonts/Feira_da_Fruta.ttf");
		src:			url("fonts/Feira_da_Fruta.woff");
	}

@font-face
	{
		font-family:	"HACKED";
		src:			url("fonts/HACKED.eot");
		src:			url("fonts/HACKED.otf");
		src:			url("fonts/HACKED.svg");
		src:			url("fonts/HACKED.ttf");
		src:			url("fonts/HACKED.woff");
	}

@font-face
	{
		font-family:	"Fire of Ysgard";
		src:			url("fonts/Fire_of_Ysgard/Fire_of_Ysgard.eot");
		src:			url("fonts/Fire_of_Ysgard/Fire_of_Ysgard.otf");
		src:			url("fonts/Fire_of_Ysgard/Fire_of_Ysgard.svg");
		src:			url("fonts/Fire_of_Ysgard/Fire_of_Ysgard.ttf");
		src:			url("fonts/Fire_of_Ysgard/Fire_of_Ysgard.woff");
	}


	/* Computer Modern Unicode */

@font-face {font-family: "CMU Bright";		src: url("fonts/Bright/cmunbmr.eot");
											src: url("fonts/Bright/cmunbmr.otf");
											src: url("fonts/Bright/cmunbmr.svg");
											src: url("fonts/Bright/cmunbmr.ttf");
											src: url("fonts/Bright/cmunbmr.woff");													}
@font-face {font-family: "CMU Bright";		src: url("fonts/Bright/cmunbsr.eot");
											src: url("fonts/Bright/cmunbsr.otf");
											src: url("fonts/Bright/cmunbsr.svg");
											src: url("fonts/Bright/cmunbsr.ttf");
											src: url("fonts/Bright/cmunbsr.woff");		font-weight: bold;							}
@font-face {font-family: "CMU Bright";		src: url("fonts/Bright/cmunbbx.eot");
											src: url("fonts/Bright/cmunbbx.otf");
											src: url("fonts/Bright/cmunbbx.svg");
											src: url("fonts/Bright/cmunbbx.ttf");
											src: url("fonts/Bright/cmunbbx.woff");		font-weight: bolder;						}
@font-face {font-family: "CMU Bright";		src: url("fonts/Bright/cmunbmo.eot");
											src: url("fonts/Bright/cmunbmo.otf");
											src: url("fonts/Bright/cmunbmo.svg");
											src: url("fonts/Bright/cmunbmo.ttf");
											src: url("fonts/Bright/cmunbmo.woff");								font-style: oblique;}
@font-face {font-family: "CMU Bright";		src: url("fonts/Bright/cmunbso.eot");
											src: url("fonts/Bright/cmunbso.otf");		
											src: url("fonts/Bright/cmunbso.svg");		
											src: url("fonts/Bright/cmunbso.ttf");		
											src: url("fonts/Bright/cmunbso.woff");		font-weight: bold;		font-style: oblique;}
@font-face {font-family: "CMU Bright";		src: url("fonts/Bright/cmunbxo.eot");
											src: url("fonts/Bright/cmunbxo.otf");		
											src: url("fonts/Bright/cmunbxo.svg");		
											src: url("fonts/Bright/cmunbxo.ttf");		
											src: url("fonts/Bright/cmunbxo.woff");		font-weight: bolder;	font-style: oblique;}

@font-face {font-family: "CMU Concrete";	src: url("fonts/Concrete/cmunorm.ttf");													}
@font-face {font-family: "CMU Concrete";	src: url("fonts/Concrete/cmunobx.ttf");		font-weight: bold;							}
@font-face {font-family: "CMU Concrete";	src: url("fonts/Concrete/cmunoti.ttf"); 							font-style: italic;	}
@font-face {font-family: "CMU Concrete";	src: url("fonts/Concrete/cmunobi.ttf");		font-weight: bold;		font-style: italic;	}

@font-face {font-family: "CMU Sans Serif";	src: url("fonts/Sans_Serif/cmunss.eot");
											src: url("fonts/Sans_Serif/cmunss.otf");
											src: url("fonts/Sans_Serif/cmunss.svg");
											src: url("fonts/Sans_Serif/cmunss.ttf");
											src: url("fonts/Sans_Serif/cmunss.woff");												}
@font-face {font-family: "CMU Sans Serif";	src: url("fonts/Sans_Serif/cmunsx.eot");
											src: url("fonts/Sans_Serif/cmunsx.otf");	
											src: url("fonts/Sans_Serif/cmunsx.svg");	
											src: url("fonts/Sans_Serif/cmunsx.ttf");	
											src: url("fonts/Sans_Serif/cmunsx.woff");	font-weight: bold;							}
@font-face {font-family: "CMU Sans Serif";	src: url("fonts/Sans_Serif/cmunsi.eot");
											src: url("fonts/Sans_Serif/cmunsi.otf");							
											src: url("fonts/Sans_Serif/cmunsi.svg");							
											src: url("fonts/Sans_Serif/cmunsi.ttf");							
											src: url("fonts/Sans_Serif/cmunsi.woff");							font-style: oblique;}
@font-face {font-family: "CMU Sans Serif";	src: url("fonts/Sans_Serif/cmunso.eot");
											src: url("fonts/Sans_Serif/cmunso.otf");	
											src: url("fonts/Sans_Serif/cmunso.svg");	
											src: url("fonts/Sans_Serif/cmunso.ttf");	
											src: url("fonts/Sans_Serif/cmunso.woff");	font-weight: bold;		font-style: oblique;}

@font-face {font-family: "CMU Serif";		src: url("fonts/Serif/cmunrm.eot");
											src: url("fonts/Serif/cmunrm.otf");														
											src: url("fonts/Serif/cmunrm.svg");														
											src: url("fonts/Serif/cmunrm.ttf");														
											src: url("fonts/Serif/cmunrm.woff");														}
@font-face {font-family: "CMU Serif";		src: url("fonts/Serif/cmunbx.eot");
											src: url("fonts/Serif/cmunbx.otf");			
											src: url("fonts/Serif/cmunbx.svg");			
											src: url("fonts/Serif/cmunbx.ttf");			
											src: url("fonts/Serif/cmunbx.woff");			font-weight: bold;							}
@font-face {font-family: "CMU Serif";		src: url("fonts/Serif/cmunti.eot");
											src: url("fonts/Serif/cmunti.otf"); 								
											src: url("fonts/Serif/cmunti.svg"); 								
											src: url("fonts/Serif/cmunti.ttf"); 								
											src: url("fonts/Serif/cmunti.woff"); 								font-style: italic;	}
@font-face {font-family: "CMU Serif";		src: url("fonts/Serif/cmunbi.eot");
											src: url("fonts/Serif/cmunbi.otf");			
											src: url("fonts/Serif/cmunbi.svg");			
											src: url("fonts/Serif/cmunbi.ttf");			
											src: url("fonts/Serif/cmunbi.woff");			font-weight: bold;		font-style: italic;	}

@font-face {font-family: "CMU Typewriter";	src: url("fonts/Typewriter/cmuntt.ttf");												}
@font-face {font-family: "CMU Typewriter";	src: url("fonts/Typewriter/cmuntb.ttf");	font-weight: bold;							}
@font-face {font-family: "CMU Typewriter";	src: url("fonts/Typewriter/cmunit.ttf");							font-style: italic;	}
@font-face {font-family: "CMU Typewriter";	src: url("fonts/Typewriter/cmuntx.ttf");	font-weight: bold;		font-style: italic;	}
@font-face {font-family: "CMU Typewriter";	src: url("fonts/Typewriter/cmunbtl.ttf");	font-weight: lighter;						}
@font-face {font-family: "CMU Typewriter";	src: url("fonts/Typewriter/cmunst.ttf");							font-style: oblique;}
@font-face {font-family: "CMU Typewriter";	src: url("fonts/Typewriter/cmunbto.ttf");	font-weight: lighter;	font-style: oblique;}



/* ##################
   # Tekstimuotoilu #
   ################## */

p, ul, ol
	{
		text-align: justify;
		font-size:	100%;
		margin:		20px 0 0;
	}

ul, ol
	{
		list-style-type:		square;
		margin-left:			20px;
	}

p + ul, p + ol {margin-top: 0;}

h1
	{
		font-size:				350%;
		line-height:			56px;
		text-align:				center;
		font-family:			"Fire of Ysgard";
		font-weight:			normal;
		transition:				ease 1s;
		transition-property:	color, background-color, border-color, box-shadow;
		border-bottom-width:	3px;
		border-bottom-style:	solid;
		border-radius:			3px;
		max-width:				960px;
		margin:					0 auto 1px;
	}

h2
	{
		font-family:			"CMU Serif";
		font-size:				180%;
		font-weight:			normal;
		font-variant:			small-caps;
		font-style:				italic;
		border-bottom:			2px solid;
		transition:				ease 1s;
		transition-property:	color, background-color, border-color, box-shadow;
		margin:					20px 0 0;
	}

h3
	{
		font-family:			"CMU Concrete";
		font-weight:			normal;
		font-size:				130%;
		margin:					20px 0 -5px;
	}

a, a:link, a:visited
	{
		cursor:					pointer;
		transition:				ease 1s;
		transition-property:	color, background-color, border-color, box-shadow;
		text-decoration:		none;
	}

a:hover, a:active
	{
		text-decoration: underline;
	}

p > a, p > a:link, p > a:visited
	{
		text-decoration: underline;
	}

img
	{
		user-select:			none;
		-moz-user-select:		none;
		-webkit-user-select:	none;
		-ms-user-select:		none;
	}

.kaava
	{
		visibility:				hidden;
	}

@media screen and (max-width: 640px) {
	h1
		{
			font-size:				200%;
		}
}



/* ############
   # Rakenne  #
   ############ */

body
	{
		font-family:			"CMU Serif", "Times New Roman";
		background-color:		#9E0200;
		background-image:		url("bg132.png");
		background-size:		100%;
		background-attachment:	fixed;
		color:					#190501;
		font-size:				20px;
		transition:				ease 1s;
		transition-property:	color, background-color, border-color, box-shadow;
	}


@media screen and (min-width: 960px) {
	canvas
		{
			z-index:		-1;
			position:		fixed;
		}

	header, footer
		{
			width:			100%;
			position:		fixed;
			z-index:		10;
			border-width:	5px 0;
			border-style:	solid;
			transition: ease 1s;
			transition-property: color, background-color, border-color, box-shadow;
		}
	header {top: -5px; height: 100px;} footer {bottom: -5px; height: 100px;}
	footer {height: 60px;}
	footer p {text-align: center; font-family: "CMU Sans Serif", "Times New Roman"; font-size: 80%; line-height: 20px; height: 20px; margin: 20px 0;}

	header > nav
		{
			font-variant:		small-caps;
			text-align:			center;
			line-height:		40px;
			font-size:			130%;
			margin:				auto;
			overflow:			hidden;
		}
	
	header > nav > a
		{
/*			float: left;*/
		}

	main
		{
			width:		960px;
			margin:		100px auto 0;
			z-index:	1;
		}
	.box
		{
			border:	5px solid;
			border-radius: 5px;
			padding: 10px;
			transition: ease 1s;
			transition-property: color, background-color, border-color, box-shadow;
			min-height:	120px;
			margin-bottom:	80px;
			clear: both;
		}

	.box:first-child
		{
			margin-top:		20px;
			margin-left:	145px;
			width:			640px;
			float:			left;
		}

	.box:nth-child(2)
		{
			margin-top:		120px;
			margin-left:	448px;
			width:			520px;
			float:			left;
		}

	.box:nth-child(3)
		{
			width:			520px;
			margin-top:		200px;
			float:			left;
		}

	.box:nth-child(4)
		{
			margin-top:		60px;
			margin-right:	30px;
			width:			720px;
			float:			right;
		}

	.box:nth-child(5)
		{
			width:			480px;
			margin-top:		160px;
			margin-right:	120px;
			float:			right;
		}

	#fleft, #fright, #fmiddle
		{
			height: 100%;
			float: left;
		}
	#fmiddle {width: 20%;} #fleft, #fright {width: 40%;}

}

@media screen and (max-width: 960px) {
	body {overflow-x: hidden;}
	canvas {display: none;}
	main
		{
			width:		100%;
			position:	relative;
			overflow-x:	hidden;
		}
	.box
		{
			width:		94%;
			margin:		10px 1%;
			padding:	10px 2%;
		}
	header > nav
		{
			font-family:	"Feira da Fruta";
			text-align:		center;
			line-height:	40px;
			font-size:		120%;
		}
	footer > div
		{
			margin:			auto;
		}
	#fleft {width: 144px; height: 40px;}
	#fright {width: 156px; height: 64px;}
	#fmiddle {width: 100%; height: 1em;}
	footer p {text-align: center;}
}


header > nav > a
	{
		margin:					0 14px;
		transition-duration:	300ms;
		transition-property:	color, background-color, border-color, box-shadow, font-weight;
	}

#social
	{
		min-height:		64px;
		padding:		4px 0;
		border-width:	1px 0;
		border-style:	solid;
		width:			384px;
		margin:			10px auto 4px;
	}

@media screen and (max-width: 384px) {
	#social {float: left; max-width: 100%;}
}

nav#social a, #fright a, .cv .dl
	{
		background-image:		url("sprite.png");
	}
nav#social a, #fright a
	{
		width:					60px;
		height:					60px;
		display:				block;
		float:					left;
		box-shadow:				0 0 2px #000000;
		margin:					2px;
		transition-property:	transform, background;
		transition-duration:	200ms;
		transform:				scale(0.9,0.9);
	}
nav#social a:hover	{transform: scale(1,1);}

#soundcloud			{background-color: rgba(255, 102,   0, 1); background-position:    0     0;}
#googleplus			{background-color: rgba(209,  72,  54, 1); background-position:  -60px   0;}
#linkedin			{background-color: rgba(  0, 127, 177, 1); background-position: -120px   0;}
#steam				{background-color: rgba(  0,   0,   0, 1); background-position:    0   -60px;}
#twitter			{background-color: rgba(  0, 172, 237, 1); background-position:  -60px -60px;}
#wordpress			{background-color: rgba( 33, 117, 155, 1); background-position: -120px -60px;}

#soundcloud:hover	{background-color: rgba(255, 102,   0, 0.8);}
#googleplus:hover	{background-color: rgba(209,  72,  54, 0.8);}
#linkedin:hover		{background-color: rgba(  0, 127, 177, 0.8);}
#steam:hover		{background-color: rgba(  0,   0,   0, 0.8);}
#twitter:hover		{background-color: rgba(  0, 172, 237, 0.8);}
#wordpress:hover	{background-color: rgba( 33, 117, 155, 0.8);}

#fright a			{transform: scale(0.5,0.5); margin: 0; border-radius: 6px; border-style: solid; border-width: 4px; margin: -4px -8px; box-shadow: 0 0 5px #000000; transition-property: transform;}
#fright a:hover		{transform: scale(0.8,0.8);}
#html5				{background-color: rgb(240, 101,  41); border-color: rgb(240, 101,  41); background-position: 0 -120px;}
#css3				{background-color: rgb(  0, 146, 191); border-color: rgb(  0, 146, 191); background-position: -60px -120px;}
#jquery				{background-color: rgb(  8, 103, 171); border-color: rgb(  8, 103, 171); background-position: -120px -120px;}

#fleft a
	{
		background-image: url("flags.png");
		transform: scale(0.5,0.5);
		opacity: 0.7;
		border-radius: 6px;
		margin: -4px -12px;
		box-shadow: 0 0 5px #000000;
		float: right;
		width: 95px;
		height: 60px;
		display: block;
		transition-duration:	200ms;
		transition-property: transform, opacity;
		}
#fleft a:hover		{transform: scale(0.8,0.8); opacity: 1;}
#finnish			{background-position: right top;}
#english			{background-position: left top;}



/* ##########
   # Teemat #
   ########## */
   
   /* Theme 1 */

.theme1 main > .box
	{
		background:		#C23030;
		border-color:	#9E0200;
		box-shadow:		0 0 3px #190501 inset, 0 0 5px #190501;
	}
.theme1 header, .theme1 footer {background-color: rgba(25,5,1,0.8); border-color: #190501; color: #C23030;}
.theme1 header > h1 {color: #9E0200; border-color: #9E0200;}
.theme1 h2, .theme1 #social {border-color: #190501;}
body.theme1 {background-color: #9E0200; color: #190501;}
.theme1 a, .theme1 a:link, .theme1 a:visited
	{
		color:				#631303;
	}
.theme1 a:hover, .theme1 a:active
	{
		color:				#AD2206;
	}
.theme1 header > nav > a {color: #C23030;}

.theme1 ::selection {color: #C23030; background-color: #190501;}
.theme1 ::-moz-selection {color: #C23030; background-color: #190501;}


	/* Theme 2 */

.theme2 main > .box
	{
		background:		#2F6B35;
		border-color:	#24563B;
		box-shadow:		0 0 3px #EFEFEF inset, 0 0 5px #EFEFEF;
	}
.theme2 header, .theme2 footer {background-color: rgba(239,239,239,0.8); border-color: #EFEFEF; color: #2F6B35;}
.theme2 header > h1 {color: #24563B; border-color: #24563B;}
.theme2 h2 .theme2 #social {border-color: #EFEFEF;}
body.theme2 {background-color: #24563B; color: #EFEFEF;}
.theme2 a, .theme2 a:link, .theme2 a:visited
	{
		color:				#A0A0A0;
	}
.theme2 a:hover, .theme2 a:active
	{
		color:				#515151;
	}
.theme2 header > nav > a {color: #2F6B35;}

.theme2 ::selection {color: #2F6B35; background-color: #EFEFEF;}
.theme2 ::-moz-selection {color: #2F6B35; background-color: #EFEFEF;}


	/* Theme 3 */

.theme3 main > .box
	{
		background:		#890000;
		border-color:	#211E19;
		box-shadow:		0 0 3px #FFC200 inset, 0 0 5px #FFC200;
	}
.theme3 header, .theme3 footer {background-color: rgba(255,194,0,0.8); border-color: #FFC200; color: #890000;}
.theme3 header > h1 {color: #211E19; border-color: #211E19;}
.theme3 h2 .theme3 #social {border-color: #FFC200;}
body.theme3 {background-color: #211E19; color: #FFC200;}
.theme3 a, .theme3 a:link, .theme3 a:visited
	{
		color:				#B28500;
	}
.theme3 a:hover, .theme3 a:active
	{
		color:				#634800;
	}
.theme3 header > nav > a {color: #890000;}

.theme3 ::selection {color: #890000; background-color: #211E19;}
.theme3 ::-moz-selection {color: #890000; background-color: #211E19;}


	/* Theme 4 */

.theme4 main > .box
	{
		background:		#FFDDAD;
		border-color:	#FF970F;
		box-shadow:		0 0 3px #008CFF inset, 0 0 5px #008CFF;
	}
.theme4 header, .theme4 footer {background-color: rgba(0,140,255,0.8); border-color: #008CFF; color: #FFDDAD;}
.theme4 header > h1 {color: #FF970F; border-color: #FF970F;}
.theme4 h2 .theme4 #social {border-color: #008CFF;}
body.theme4 {background-color: #FF970F; color: #008CFF;}
.theme4 a, .theme4 a:link, .theme4 a:visited
	{
		color:				#0062B2;
	}
.theme4 a:hover, .theme4 a:active
	{
		color:				#003863;
	}
.theme4 header > nav > a {color: #FFDDAD;}

.theme4 ::selection {color: #FFDDAD; background-color: #008CFF;}
.theme4 ::-moz-selection {color: #FFDDAD; background-color: #008CFF;}


	/* Theme 5 */

.theme5 main > .box
	{
		background:		#B6C0C0;
		border-color:	#F9F9F9;
		box-shadow:		0 0 3px #008CFF inset, 0 0 5px #008CFF;
	}
.theme5 header, .theme5 footer {background-color: rgba(0,140,255,0.8); border-color: #008CFF; color: #B6C0C0;}
.theme5 header > h1 {color: #F9F9F9; border-color: #F9F9F9;}
.theme5 h2 .theme5 #social {border-color: #008CFF;}
body.theme5 {background-color: #F9F9F9; color: #008CFF;}
.theme5 a, .theme5 a:link, .theme5 a:visited
	{
		color:				#0062B2;
	}
.theme5 a:hover, .theme5 a:active
	{
		color:				#003863;
	}
.theme5 header > nav > a {color: #B6C0C0;}

.theme5 ::selection {color: #B6C0C0; background-color: #008CFF;}
.theme5 ::-moz-selection {color: #B6C0C0; background-color: #008CFF;}


	/* Theme 0 */
.theme0 main > .box
	{
		background:		rgba(255,255,255,0.5);
		border-color:	#FFFFFF;
		box-shadow:		0 0 3px rgba(255,255,255,0.5) inset, 0 0 5px rgba(255,255,255,0.5);
	}
.theme0 header, .theme0 footer {background-color: rgba(0,0,0,0.8); border-color: #000000; color: rgba(255,255,255,0.5);}
.theme0 header > h1 {color: rgba(255,255,255,0.5); border-color: rgba(255,255,255,0.5);}
.theme0 h2 .theme5 #social {border-color: rgba(255,255,255,0.5);}
body.theme0 {background-color: #000000; color: #000000;}
.theme0 a, .theme5 a:link, .theme5 a:visited
	{
		color:				rgba(255,255,255,0.8);
	}
.theme0 a:hover, .theme5 a:active
	{
		color:				#FFFFFF;
	}
.theme0 header > nav > a {color: rgba(255,255,255,0.5);}

.theme0 ::selection {color: #000000; background-color: rgba(255,255,255,0.5);}
.theme0 ::-moz-selection {color: #000000; background-color: rgba(255,255,255,0.5);}


/* #########
   # Sivut #
   ######### */

.mie
	{
		background-image:	url("mie13.png");
		height:				13px;
		float:				right;
		clear:				both;
		margin:				0 3px 0;
	}
.mie:nth-of-type(1)		{background-position: right    0  ; width: 229px; height: 20px;}
.mie:nth-of-type(2)		{background-position: right  -20px; width: 251px;}
.mie:nth-of-type(3)		{background-position: right  -33px; width: 267px;}
.mie:nth-of-type(4)		{background-position: right  -46px; width: 280px;}
.mie:nth-of-type(5)		{background-position: right  -59px; width: 290px;}
.mie:nth-of-type(6)		{background-position: right  -72px; width: 297px;}
.mie:nth-of-type(7)		{background-position: right  -85px; width: 304px;}
.mie:nth-of-type(8)		{background-position: right  -98px; width: 309px;}
.mie:nth-of-type(9)		{background-position: right -111px; width: 313px;}
.mie:nth-of-type(10)	{background-position: right -124px; width: 315px;}
.mie:nth-of-type(11)	{background-position: right -137px; width: 316px;}
.mie:nth-of-type(12)	{background-position: right -150px; width: 317px;}
.mie:nth-of-type(13)	{background-position: right -163px; width: 317px;}
.mie:nth-of-type(14)	{background-position: right -176px; width: 316px;}
.mie:nth-of-type(15)	{background-position: right -189px; width: 314px;}
.mie:nth-of-type(16)	{background-position: right -202px; width: 311px;}
.mie:nth-of-type(17)	{background-position: right -215px; width: 306px;}
.mie:nth-of-type(18)	{background-position: right -228px; width: 301px;}
.mie:nth-of-type(19)	{background-position: right -241px; width: 294px;}
.mie:nth-of-type(20)	{background-position: right -254px; width: 285px;}
.mie:nth-of-type(21)	{background-position: right -267px; width: 274px;}
.mie:nth-of-type(22)	{background-position: right -280px; width: 261px;}
.mie:nth-of-type(23)	{background-position: right -293px; width: 243px;}
.mie:nth-of-type(24)	{background-position: right -306px; width: 219px; height: 14px;}

#validhtml
	{
		background:		url("http://www.w3.org/html/logo/badge/html5-badge-h-css3-graphics-multimedia-semantics.png") right top no-repeat;
		display:		block;
		width:			230px;
		height:			64px;
		transform:		scale(0.9,0.9);
		transition:		transform 100ms linear;
		margin:			5px auto;
	}
#validhtml:hover {transform: scale(1,1);}

.cv {line-height: 60px; margin-top: 20px;}
.cv .dl {background-position: -180px 0; height: 60px; width: 60px; vertical-align: middle; transform: scale(0.3,0.3); transition: 200ms transform linear; margin-right: -5px; float: left;}
.cv:hover .dl {transform: scale(0.4,0.4);}

.soundcloud {width: 100%; margin: 20px 0 0;}
